
/*Google*/
/* *::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}
*::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}
*::-webkit-scrollbar-thumb
{
  background-color: #384aeb;	
} */

/*Mozzila*/
/* *::-moz-scrollbar-track
{
  background-color: #F5F5F5;
}
*::-moz-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}
*::-moz-scrollbar-thumb
{
  background-color: #384aeb;	
} */

*::-webkit-scrollbar {
  background-color:#fff;
  width:16px
}

/* background of the scrollbar except button or resizer */
*::-webkit-scrollbar-track {
  background-color:#fff
}
*::-webkit-scrollbar-track:hover {
  background-color:#f1f6f7;
}

/* scrollbar itself */
*::-webkit-scrollbar-thumb {
  background-color:#384aeb;
  /* border:5px solid #fff; */
}
*::-webkit-scrollbar-thumb:hover {
  background-color:#3847C7;
  /* border:4px solid #f4f4f4; */
}

/* set button(top and bottom of the scrollbar) */
*::-webkit-scrollbar-button {display:none}